.logo_signin {
  background: url('vCS_logo.jpg');
  background-repeat: no-repeat;
  background-position: center center;      
  background-size: cover;
  height: 80px;
  width: 80px;
  margin: 20px auto;
  
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.domain_name{
  font-weight: 600;
  font-size: 18px;
  margin: 20px auto;
  text-align: center;
}

.login_tab {
  width: 800px;
  height: 150px;
  margin: 50px auto;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 6px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

.login_tab input {
  display: inline-block;
  width: 89%;
  height: 50px;
  margin: 0 auto;
  border-radius: 8px !important;
  border: none !important;
  background: rgba(15, 19, 42, .1);
  color: rgba(15, 19, 42, .7);
  padding: 0 0 0 15px !important;
  font-size: 16px !important;
  font-family: 'Montserrat', sans-serif;
}

.login_tab button {
  background: #ed384d;
  color: white;
  display: inline-block;
  width: 10%;
  max-width: 400px;
  height: 50px;
  border-radius: 8px !important;
  margin: 0 auto 20px;
  border: none !important;
  cursor: pointer;
  font-weight: 500 !important;
  font-size: 16px !important;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 10px 15px rgba(237, 56, 77, .26);
  transition: 0.2s linear;
}

.login_tab button:hover {
  box-shadow: 0 0 0 rgba(237, 56, 77, .0);
}

.center {
  width: 90%;
  margin: auto;
}

